$borderRadius: 32px;
$background: #1a1c19;
$on-background: #e2e3de;
$primary: #5bdf83;
$on-primary: #003916;
$secondary-container: #394b3b;
$on-secondary-container: #d3e8d2;
$secondary-container-2: #233425;
$on-secondary-container-2: #b7ccb7;
$secondary: #b7ccb7;
$on-secondary: #233425;
$tertiary-container: #204d56;

$lightBackground: #fbfdf7;

@mixin marginInline {
  width: 90vw;
  max-width: 1100px;
  margin-inline: auto;
}

#theme {
  opacity: 0;
  cursor: pointer;
  position: absolute;

  &:focus-visible~#page label {
    outline: var(--primary) solid 0.5rem;
    outline-offset: 1rem;
  }

  &~#page {
    --background: #1a1c19;
    --on-background: #e2e3de;
    --primary: #5bdf83;
    --on-primary: #003916;
    --secondary-container: #394b3b;
    --on-secondary-container: #d3e8d2;
    --secondary-container-2: #233425;
    --on-secondary-container-2: #b7ccb7;
    --secondary: #b7ccb7;
    --on-secondary: #233425;
    // --tertiary: #a4c8ff;
    // --on-tertiary: #003061;
    // --tertiary-container: #004789;
    // --on-tertiary-container: #d3e3ff;
  }
}

@media (prefers-color-scheme: light) {
  #theme~#page .themeToggle {
    rect {
      transform: rotate(2turn) scale(0);
    }

    circle {
      transform: scale(3);

      &+circle {
        visibility: visible;
        transform: scale(2);
      }
    }
  }

  #theme~#page {
    //chrome :(
    --background: #fbfdf7;
    --on-background: #1a1c19;
    --primary: #006d31;
    --on-primary: #fff;
    --secondary-container: #d3e8d2;
    --on-secondary-container: #0e1f12;
    --secondary-container-2: #b7ccb7;
    --on-secondary-container-2: #233425;
    --secondary: #516352;
    --on-secondary: #fff;
    // --tertiary: #205fa6;
    // --on-tertiary: #fff;
    // --tertiary-container: #d3e3ff;
    // --on-tertiary-container: #001b3c;
  }

  #theme:checked~#page .themeToggle {
    rect {
      transform: initial;

      &+rect {
        transform: rotate(45deg);
      }
    }

    circle {
      transform: scale(1);

      &+circle {
        transform: scale(0);
      }
    }
  }

  #theme:checked~#page {
    --background: #1a1c19;
    --on-background: #e2e3de;
    --primary: #5bdf83;
    --on-primary: #003916;
    --secondary-container: #394b3b;
    --on-secondary-container: #d3e8d2;
    --secondary-container-2: #233425;
    --on-secondary-container-2: #b7ccb7;
    --secondary: #b7ccb7;
    --on-secondary: #233425;
    // --tertiary: #a4c8ff;
    // --on-tertiary: #003061;
    // --tertiary-container: #004789;
    // --on-tertiary-container: #d3e3ff;
  }
}

@media (prefers-color-scheme: dark) {
  #theme:checked {
    &~#page .toggle>svg {
      rect {
        transform: rotate(2turn) scale(0);
      }

      circle {
        transform: scale(3);

        &+circle {
          visibility: visible;
          transform: scale(2);
        }
      }
    }

    &~#page {
      --background: #fbfdf7;
      --on-background: #1a1c19;
      --primary: #006d31;
      --on-primary: #fff;
      --secondary-container: #d3e8d2;
      --on-secondary-container: #0e1f12;
      --secondary-container-2: #b7ccb7;
      --on-secondary-container-2: #233425;
      --secondary: #516352;
      --on-secondary: #fff;
      --tertiary: #205fa6;
      --on-tertiary: #fff;
      --tertiary-container: #d3e3ff;
      --on-tertiary-container: #001b3c;
    }
  }
}

html {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

* {
  scrollbar-color: $primary $background;
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

#page {
  background-color: var(--background);
  color: var(--on-background);
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  color: inherit;
}

abbr {
  text-decoration: none;
}

::selection {
  color: var(--on-primary);
  background-color: var(--primary);
}

$lighter: lighten($background, 10);

::-webkit-scrollbar {
  // dark mode
  width: 0.8rem;
  background-color: $lighter;

  &-thumb {
    background: $primary;
    border-radius: 16px;
    border: $lighter solid 2px;
  }
}

$darker: darken($lightBackground, 10);

body:has(#theme:not(:checked))::-webkit-scrollbar {
  // light mode
  background-color: $darker;

  &-thumb {
    background: #006d31;
    border-radius: 16px;
    border: $darker solid 2px;
  }
}

@media (prefers-color-scheme: dark) {
  body:has(#theme:not(:checked))::-webkit-scrollbar {
    // dark mode
    width: 0.8rem;
    background-color: $lighter;

    &-thumb {
      background: $primary;
      border-radius: 16px;
      border: $lighter solid 2px;
    }
  }

  body:has(#theme:checked)::-webkit-scrollbar {
    // light mode
    background-color: $darker;

    &-thumb {
      background: #006d31;
      border-radius: 16px;
      border: $darker solid 2px;
    }
  }
}

body {
  margin: 0;
  display: grid;
  min-height: 100vh;
}

// aside {
//   border-radius: $borderRadius;
//   margin-top: 2.5%;
//   width: 90vw;
//   max-width: 1100px;
//   margin-inline: auto;
//   padding: 2em;
//   background-color: var(--secondary-container);
//   color: var(--on-secondary-container);
// }

.info p {
  font-size: 1.3rem;

}

.themeToggle {
  width: 3rem;
  position: relative;
  transition: scale 120ms ease-in;

  &:hover {
    scale: 1.2;
  }

  rect {
    transition: transform 500ms;
    transform-origin: center;

    &+rect {
      transform: rotate(45deg);
      transition: transform 450ms;
    }
  }

  circle {
    transition: transform 600ms;
    transform-origin: center;
    transform-box: fill-box;

    &+circle {
      transform: scale(0);
    }
  }
}

.secondary-container {
  background-color: var(--background);
  color: var(--on-background);
}

#main {
  display: grid;
  grid-template-areas:
    "🟢 ℹ️ 🌜️"
    "📄 📄 🔗";
  grid-template-columns: min-content auto auto;

  padding-block-start: 2.5%;
  @include marginInline();

  &>img {
    border-radius: 50%;
    outline: 0.4em solid var(--secondary);
    outline-offset: 0.3em;
    width: 155px;
    margin: 0.7em 2.7em 2.7em 0.7em;
    grid-area: 🟢;
    box-shadow: 0px 0px 161px -10px var(--primary);
    transition: scale 150ms ease-in;

    &:hover {
      scale: 1.1;
    }
  }

  .links {
    grid-area: 🔗;
  }
}

.info {
  grid-area: ℹ️;
  display: grid;
  align-self: center;

  h1 {
    font-size: 2rem;
  }

  &>div {
    display: flex;
    gap: 1em;

    &>div {
      display: flex;
      gap: 0.25em;
    }
  }

  svg {
    height: 1.3rem;
    width: 1.3rem;
  }

  p {
    margin: 0;
  }

  svg {
    transition: transform 600ms ease-in-out;

    &:has(~a:hover) {
      transform: rotate(2.2turn);
    }
  }

  a {
    text-decoration: none;
    color: var(--on-secondary-container-2);

    &:hover,
    &:focus {
      background-color: #7272724d;
    }

    &:focus-visible {
      outline: var(--primary) solid 0.4rem;
      outline-offset: 0.4rem;
      border-radius: 100px;
    }
  }
}

.toggle {
  grid-area: 🌜️;
  cursor: pointer;
  margin-inline-start: auto;
}

.aboutMe {
  grid-area: 📄;
  border-top: #5b5b5b solid 1px;
  font-size: 1.3rem;
  line-height: 1.7;
  width: fit-content;
}

.links {
  display: grid;
  justify-content: center;
  margin-inline-start: auto;
  gap: 1rem;
  grid-auto-flow: column;
  align-self: center;

  a {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--secondary);
    display: flex;
    transition: transform 200ms;

    &:hover {
      transform: scale(1.1);
    }

    &:active,
    &:focus {
      outline: var(--secondary-container) solid 0.5em;
    }

    &:active svg {
      transform: rotate(360deg);
    }
  }

  svg {
    fill: var(--on-secondary);
    transition: transform 500ms;
    margin: 0.8em;
  }
}

.Mastodon {
  position: relative;
}

.Mastodon::after {
  content: "Mastodon";
  position: absolute;
  bottom: -10px;
  left: -10px;
  background-color: var(--on-secondary);
  color: var(--secondary);
  outline: 2px solid var(--secondary);
  padding-inline: 0.25em;
  border-radius: 100px;
  font-weight: bold;
}

#ST,
#🐷 {
  border-radius: $borderRadius;
  padding: 2em 1em;
  margin-block-start: 1em;
  @include marginInline();
  font-size: 2em;
  position: relative;
}

#ST {
  overflow: hidden; // animation color splash

  * {
    position: relative;
    z-index: 1;
  }

  ::selection {
    color: #d5baff;
    background-color: #3d1c6f
  }

  &>div>svg {
    max-width: 20em;
    margin-block: 2em;

    ::selection {
      background-color: #d5baff;
      color: #3d1c6f;
    }
  }
}

// ST. Animation start


#ST {
  --animation: ST 1000ms 2000ms forwards;
}

#ST h2 {
  --animation: ST 1000ms 2000ms forwards;
  // transition: transform 2000ms;
  // transform: scale(2) translateX(105%);
  // overflow: hidden;
  display: flex;
  width: fit-content;
}

#ST .goTo p {
  animation: var(--animation);
}

#ST h2>span {
  transition: transform 0ms, opacity 200ms;
  z-index: -4;
}

#ST p {
  animation: var(--animation);
}

.S {
  color: #3d1c6f;
  background-color: #d5baff;
  z-index: 100;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: #d5baff;
    inset: 0;
    animation: colorSplash 1000ms 2800ms forwards;
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    left: -100%;
    background-color: var(--background);
    z-index: -2;
    animation: hider 0ms 2800ms forwards;
  }
}

@keyframes hider {
  to {
    scale: 0;
  }
}

@keyframes colorSplash {

  1% {
    z-index: -100;
  }

  50% {
    transform: scale(40 2);
    z-index: -100;
  }

  // translateX(clamp(0px, calc(38vw + 50%), 550px)) in case you want to center it first 🤷‍♂️
  to {
    transform: translateX(clamp(0px, calc(38vw + 50%), 550px)) scale(45);
    z-index: -100;
  }
}

.imple {
  transform: translateX(-4.7ch);
}

.T {
  transform: translateX(-125.4px);
  z-index: 100;
  animation: var(--animation);
}

.ype {
  transform: translate(-9ch);
}

.imple,
.ype {
  opacity: 0;
  z-index: 8;
  animation: var(--animation);
}

.dot {
  transform: translateX(-208.1px);
  animation: var(--animation);
}

@keyframes ST {
0% {
  color: var(--on-background);
}


  90% {
    transform: translateX(0);
    opacity: 1;
    z-index: 1;
    color: currentColor;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    z-index: 1;
    color: #3d1c6f;
    
  }
}

// ST. animation end

.goTo {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 0.14em 0 0 auto;

  p {
    align-items: flex-end;
    margin: 0;
    padding-inline-end: 0.5em;
  }

  svg {
    fill: #d5baff;
    background-color: #3d1c6f;
    border-radius: 50%;
    width: 63px;
    height: 63px;
    // scale: 1.3;
    transition: translate 100ms ease-in;
  }

  &:hover svg {
    translate: 10px 0;
  }
}

#🐷 {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  position: relative;

  img {
    max-width: 60px;
    rotate: 10deg;
    position: absolute;
    top: -10px;
    right: 30px;
  }

  .goTo {
    margin-top: 1em;

    svg {
      background-color: var(--secondary);
      fill: var(--on-secondary);
    }
  }
}

footer .links {
  margin-block: 2em 5%;
}

@media screen and (max-width: 850px) {
  #main {
    grid-template-areas:
      "🟢 🟢"
      "ℹ️ 🌜️"
      "📄 📄"
      "🔗 🔗";

    grid-template-columns: auto;

    &>img {
      margin: 3em auto;
    }
  }

  #🐷 {
    overflow: hidden;

    img {
      display: none;
    }
  }

  .🐷_SVG {
    min-width: 110vw;
  }

  .links {
    margin-inline: auto;
  }
}

@media screen and (max-width: 433px) {
  .goTo {
    border-radius: $borderRadius;
    font-variant-caps: all-small-caps;
    letter-spacing: 0.2rem;
    text-decoration: none;

    p {
      padding: 0.1em 0.5em;
    }

    svg {
      display: none;
    }
  }

  #ST .goTo {
    background-color: #3d1c6f;

    p {
      color: #d5baff !important;
    }
  }

  #🐷 .goTo {
    color: var(--on-secondary);
    background-color: var(--secondary);
  }
}

@media screen and (max-width: 350px) {
  #main {
    grid-template-areas:
      "🟢"
      "🌜️"
      "ℹ️"
      "📄"
      "🔗";
  }

  #ST,
  #🐷 {
    padding: 1em 0.5em;
    font-size: 1.2em;
  }

  .goTo {
    p {
      display: none;
    }

    svg {
      display: unset;
    }
  }

  .info>div {
    display: unset;

    &>* {
      margin: 0;
    }
  }

  .links {
    padding-inline: 0;
  }
}

@media screen and (max-width: 230px) {
  #main {
    &>img {
      width: 70vw;
    }
  }

  .links {
    max-width: 95vw;
    overflow-x: auto;
    justify-content: flex-start;
  }
}