@charset "UTF-8";
#theme {
  opacity: 0;
  cursor: pointer;
  position: absolute;
}
#theme:focus-visible ~ #page label {
  outline: var(--primary) solid 0.5rem;
  outline-offset: 1rem;
}
#theme ~ #page {
  --background: #1a1c19;
  --on-background: #e2e3de;
  --primary: #5bdf83;
  --on-primary: #003916;
  --secondary-container: #394b3b;
  --on-secondary-container: #d3e8d2;
  --secondary-container-2: #233425;
  --on-secondary-container-2: #b7ccb7;
  --secondary: #b7ccb7;
  --on-secondary: #233425;
  --tertiary: #a4c8ff;
  --on-tertiary: #003061;
  --tertiary-container: #004789;
  --on-tertiary-container: #d3e3ff;
}

@media (prefers-color-scheme: light) {
  #theme ~ #page .themeToggle rect {
    transform: rotate(2turn) scale(0);
  }
  #theme ~ #page .themeToggle circle {
    transform: scale(3);
  }
  #theme ~ #page .themeToggle circle + circle {
    visibility: visible;
    transform: scale(2);
  }
  #theme ~ #page {
    --background: #fbfdf7;
    --on-background: #1a1c19;
    --primary: #006d31;
    --on-primary: #fff;
    --secondary-container: #d3e8d2;
    --on-secondary-container: #0e1f12;
    --secondary-container-2: #b7ccb7;
    --on-secondary-container-2: #233425;
    --secondary: #516352;
    --on-secondary: #fff;
    --tertiary: #205fa6;
    --on-tertiary: #fff;
    --tertiary-container: #d3e3ff;
    --on-tertiary-container: #001b3c;
  }
  #theme:checked ~ #page .themeToggle rect {
    transform: initial;
  }
  #theme:checked ~ #page .themeToggle rect + rect {
    transform: rotate(45deg);
  }
  #theme:checked ~ #page .themeToggle circle {
    transform: scale(1);
  }
  #theme:checked ~ #page .themeToggle circle + circle {
    transform: scale(0);
  }
  #theme:checked ~ #page {
    --background: #1a1c19;
    --on-background: #e2e3de;
    --primary: #5bdf83;
    --on-primary: #003916;
    --secondary-container: #394b3b;
    --on-secondary-container: #d3e8d2;
    --secondary-container-2: #233425;
    --on-secondary-container-2: #b7ccb7;
    --secondary: #b7ccb7;
    --on-secondary: #233425;
    --tertiary: #a4c8ff;
    --on-tertiary: #003061;
    --tertiary-container: #004789;
    --on-tertiary-container: #d3e3ff;
  }
}
@media (prefers-color-scheme: dark) {
  #theme:checked ~ #page .toggle > svg rect {
    transform: rotate(2turn) scale(0);
  }
  #theme:checked ~ #page .toggle > svg circle {
    transform: scale(3);
  }
  #theme:checked ~ #page .toggle > svg circle + circle {
    visibility: visible;
    transform: scale(2);
  }
  #theme:checked ~ #page {
    --background: #fbfdf7;
    --on-background: #1a1c19;
    --primary: #006d31;
    --on-primary: #fff;
    --secondary-container: #d3e8d2;
    --on-secondary-container: #0e1f12;
    --secondary-container-2: #b7ccb7;
    --on-secondary-container-2: #233425;
    --secondary: #516352;
    --on-secondary: #fff;
    --tertiary: #205fa6;
    --on-tertiary: #fff;
    --tertiary-container: #d3e3ff;
    --on-tertiary-container: #001b3c;
  }
}
html {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

* {
  scrollbar-color: #5bdf83 #1a1c19;
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}

#page {
  background-color: var(--background);
  color: var(--on-background);
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  color: inherit;
}

::-moz-selection {
  color: var(--on-primary);
  background-color: var(--primary);
}

::selection {
  color: var(--on-primary);
  background-color: var(--primary);
}

::-webkit-scrollbar {
  width: 0.8rem;
  background-color: #333731;
}
::-webkit-scrollbar-thumb {
  background: #5bdf83;
  border-radius: 16px;
  border: #333731 solid 2px;
}

body:has(#theme:not(:checked))::-webkit-scrollbar {
  background-color: #e7f3ce;
}
body:has(#theme:not(:checked))::-webkit-scrollbar-thumb {
  background: #006d31;
  border-radius: 16px;
  border: #e7f3ce solid 2px;
}

@media (prefers-color-scheme: dark) {
  body:has(#theme:not(:checked))::-webkit-scrollbar {
    width: 0.8rem;
    background-color: #333731;
  }
  body:has(#theme:not(:checked))::-webkit-scrollbar-thumb {
    background: #5bdf83;
    border-radius: 16px;
    border: #333731 solid 2px;
  }
  body:has(#theme:checked)::-webkit-scrollbar {
    background-color: #e7f3ce;
  }
  body:has(#theme:checked)::-webkit-scrollbar-thumb {
    background: #006d31;
    border-radius: 16px;
    border: #e7f3ce solid 2px;
  }
}
body {
  margin: 0;
  display: grid;
}

#page {
  min-height: 100vh;
}

.info p {
  font-size: 1.3rem;
}

.themeToggle {
  width: 3rem;
  position: relative;
  transition: scale 120ms ease-in;
}
.themeToggle:hover {
  scale: 1.2;
}
.themeToggle rect {
  transition: transform 500ms;
  transform-origin: center;
}
.themeToggle rect + rect {
  transform: rotate(45deg);
  transition: transform 450ms;
}
.themeToggle circle {
  transition: transform 600ms;
  transform-origin: center;
  transform-box: fill-box;
}
.themeToggle circle + circle {
  transform: scale(0);
}

.secondary-container {
  background-color: var(--background);
  color: var(--on-background);
}

#main {
  display: grid;
  grid-template-areas: "🟢 ℹ️ 🌜️" "📄 📄 🔗";
  grid-template-columns: min-content auto auto;
  padding-block-start: 2.5%;
  width: 90vw;
  max-width: 1100px;
  margin-inline: auto;
}
#main > img {
  border-radius: 50%;
  outline: 0.4em solid var(--secondary);
  outline-offset: 0.3em;
  width: 155px;
  margin: 0.7em 2.7em 2.7em 0.7em;
  grid-area: 🟢;
  box-shadow: 0px 0px 161px -10px var(--primary);
}
#main .links {
  grid-area: 🔗;
}

.info {
  grid-area: ℹ️;
  display: grid;
  align-self: center;
}
.info h1 {
  font-size: 2rem;
}
.info > div {
  display: flex;
  gap: 1em;
}
.info > div > div {
  display: flex;
  gap: 0.25em;
}
.info svg {
  height: 1.3rem;
  width: 1.3rem;
}
.info p {
  margin: 0;
}
.info svg {
  transition: transform 600ms ease-in-out;
}
.info svg:has(~ a:hover) {
  transform: rotate(2.2turn);
}
.info a {
  text-decoration: none;
  color: var(--on-secondary-container-2);
}
.info a:hover, .info a:focus {
  background-color: rgba(114, 114, 114, 0.3019607843);
}
.info a:focus-visible {
  outline: var(--primary) solid 0.4rem;
  outline-offset: 0.4rem;
  border-radius: 100px;
}

.toggle {
  grid-area: 🌜️;
  cursor: pointer;
  margin-inline-start: auto;
}

.aboutMe {
  grid-area: 📄;
  border-top: #5b5b5b solid 1px;
  font-size: 1.3rem;
  line-height: 1.7;
  width: 100%;
}

.links {
  display: grid;
  justify-content: center;
  margin-inline-start: auto;
  gap: 1rem;
  grid-auto-flow: column;
  align-self: center;
}
.links a {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--secondary);
  display: flex;
  transition: transform 200ms;
}
.links a:hover {
  transform: scale(1.1);
}
.links a:active, .links a:focus {
  outline: var(--secondary-container) solid 0.5em;
}
.links a:active svg {
  transform: rotate(360deg);
}
.links svg {
  fill: var(--on-secondary);
  transition: transform 500ms;
  margin: 0.8em;
}

.Mastodon {
  position: relative;
}

.Mastodon::after {
  content: "Mastodon";
  position: absolute;
  bottom: -10px;
  left: -10px;
  background-color: var(--on-secondary);
  color: var(--secondary);
  outline: 2px solid var(--secondary);
  padding-inline: 0.25em;
  border-radius: 100px;
  font-weight: bold;
}

#trivia {
  display: grid;
  grid-template-areas: "ST 🐷" "🍕 blog";
  grid-gap: 1rem;
  margin-block-start: 1.5em;
  width: 90vw;
  max-width: 1100px;
  margin-inline: auto;
}

#trivia > section {
  border-radius: 32px;
  padding: 2em 1em;
  font-size: 1em;
  position: relative;
}

#ST {
  background-color: #d5baff;
  color: #3d1c6f;
}
#ST ::-moz-selection {
  color: #d5baff;
  background-color: #3d1c6f;
}
#ST ::selection {
  color: #d5baff;
  background-color: #3d1c6f;
}
#ST > div > svg {
  max-width: 20em;
  margin-block: 2em;
}
#ST > div > svg ::-moz-selection {
  background-color: #d5baff;
  color: #3d1c6f;
}
#ST > div > svg ::selection {
  background-color: #d5baff;
  color: #3d1c6f;
}

#🍕 {
  grid-area: 🍕;
  background-color: #ce3636;
  color: #f4e9e9;
}
#🍕 ::-moz-selection {
  background-color: #f4e9e9;
  color: #6f1818;
}
#🍕 ::selection {
  background-color: #f4e9e9;
  color: #6f1818;
}
#🍕 svg {
  fill: #ab1d1d;
  background-color: #f4e9e9;
}

#blog {
  grid-area: blog;
  background-color: var(--tertiary);
  color: var(--on-tertiary);
}
#blog ::-moz-selection {
  background-color: var(--on-tertiary);
  color: var(--tertiary);
}
#blog ::selection {
  background-color: var(--on-tertiary);
  color: var(--tertiary);
}
#blog svg {
  fill: var(--on-tertiary-container);
  background-color: var(--tertiary-container);
}

.goTo {
  display: flex;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.14em 0 0 auto;
}
.goTo p {
  align-items: flex-end;
  margin: 0;
  padding-inline-end: 0.5em;
}
.goTo svg {
  fill: #e9dbff;
  background-color: #3d1c6f;
  border-radius: 50%;
  width: 63px;
  height: 63px;
  transition: translate 90ms ease-in;
}
.goTo:hover svg {
  translate: 10px 0;
}

#🐷 {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  position: relative;
}
#🐷 img {
  max-width: 60px;
  rotate: 10deg;
  position: absolute;
  top: -10px;
  right: 30px;
}
#🐷 .goTo {
  margin-top: 1em;
}
#🐷 .goTo svg {
  background-color: var(--secondary);
  fill: var(--on-secondary);
}

footer .links {
  margin-block: 2em 5%;
}

@media screen and (max-width: 850px) {
  #main {
    grid-template-areas: "🟢 🟢" "ℹ️ 🌜️" "📄 📄" "🔗 🔗";
    grid-template-columns: auto;
  }
  #main > img {
    margin: 3em auto;
  }
  #trivia {
    display: block;
  }
  #trivia > section:not(:first-child) {
    margin-top: 1em;
  }
  #🐷 {
    overflow: hidden;
  }
  #🐷 img {
    display: none;
  }
  .🐷_SVG {
    min-width: 10vw;
  }
  .links {
    margin-inline: auto;
  }
}
@media screen and (max-width: 433px) {
  .goTo {
    border-radius: 32px;
    font-variant-caps: all-small-caps;
    letter-spacing: 0.2rem;
    text-decoration: none;
  }
  .goTo p {
    padding: 0.1em 0.5em;
  }
  .goTo svg {
    display: none;
  }
  #ST .goTo {
    background-color: #3d1c6f;
  }
  #ST .goTo p {
    color: #d5baff !important;
  }
  #🐷 .goTo {
    color: var(--on-secondary);
    background-color: var(--secondary);
  }
  #blog .goTo {
    background-color: var(--on-tertiary);
    color: var(--tertiary);
  }
  #🍕 .goTo {
    background-color: #f4e9e9;
    color: #ce3636;
  }
}
@media screen and (max-width: 350px) {
  #main {
    grid-template-areas: "🟢" "🌜️" "ℹ️" "📄" "🔗";
  }
  #ST,
  #🐷 {
    padding: 1em 0.5em;
    font-size: 1.2em;
  }
  .goTo p {
    display: none;
  }
  .goTo svg {
    display: unset;
  }
  .info > div {
    display: unset;
  }
  .info > div > * {
    margin: 0;
  }
  .links {
    padding-inline: 0;
  }
}
@media screen and (max-width: 230px) {
  #main > img {
    width: 70vw;
  }
  .links {
    max-width: 95vw;
    overflow-x: auto;
    justify-content: flex-start;
  }
}/*# sourceMappingURL=style.css.map */